.bg-gradient {
  background: linear-gradient(-45deg, #b7dbea, #f9f6f6, #c3aead, #b27397);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
